
  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
  }
  
  
  body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
  }
  
  
  body.fadeout::after {
    opacity: 1;
  }
   
  
  body.fadeout article {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  h1 {
    margin: 0;
  }
  
  
  .BackImg {
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2000px;
    height: 1100px;
    filter: blur( 3px);
    background-size: cover;
    z-index: -1;
  }
  
  
  
  .FrontImg {
    background-color: #000;
    position: relative;
  
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  
  
  .FrontLogo {
    background: url(../img/logo.jpg);
    background-size: cover;
    position: absolute;
  
    border: 10px solid #ffffff;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
  }
  
  
  #MainContents {
    background: rgba( 0, 0, 0, 0.5);
    position: absolute;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    width: 480px;
    height: 200%;
    margin: 0 auto;
  }
  
  
  header {
    position: relative;
  
    width: 480px;
    height: 80px;
  }
  
  
  header .logo {
    background: url(../img/logo.jpg);
    background-size: cover;
  
    border: 5px solid #ffffff;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
  }
  
  
  header .navi {
    position: absolute;
    top: 0;
    left: 80px;
    width: 400px;
    height: 80px;
  }
  
  
  ul {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  li {
    display: table-cell;
    width: 80px;
    height: 60px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  
  .navi li :hover {
    color: #aaa;
    transition: all 0.2s ease-in-out;
  }
  
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
  }
  
  
  .shop,
  .menu,
  .home {
    width: 480px;
    height: 800px;
  }
  
  .home1 {
    text-align: start;
    width:  460px;
    height: 580px;
    padding: 10px;
  
    font-size: 16px;
    line-height: 2em;
    margin: auto;
  }
  
  
  .midasi,
  .title {
    display: table-cell;
    vertical-align: middle;
    width: 480px;
    height: 40px;
  }
  
  .shop1 {
    width: 480px;
    height: 600px;
  }
  
  
  .shop1-1 {
    width: 480px;
    height: 300px;
  }
  
  
  .shop1-1-1 {
    position: relative;
  
    width: 480px;
    height: 300px;
  }
  
  
  .shopImg,
  .shopAPI {
    position: absolute;
    border: 5px solid #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 430px;
    height: 270px;
    margin: auto;
  }
  
  
  .shop2 {
    width:  480px;
    height: 350px;
  }
  
  
  #infor {
    width:  460px;
    height: 280px;
    padding: 10px;
    margin: auto;
    font-size: 11px;
    line-height: 1em;
    text-align: start;
  }
  
  
  .shop3 {
    width: 480px;
    height: 90px;
  }
  
  .change {
    width: 480px;
    height: 50px;
  }
  
  .change li {
    display: inline-block;
  }
  
  .shop3-1 {
    border: 3px solid #ffffff;
    box-sizing: border-box;
    height: 30px;
    width: 140px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .shop3-1 p {
    font-size: 16px;
    line-height: 10px;
    margin: 0;
  }
  
  
  .shop3-1:hover {
    background: #fff;
    color: #000;
  }
  
  
  .menu1 {
    display: flex;
  
    width: 480px;
    height: 540px;
  }
  
  
  .menu1-1 {
    width: 480px;
    height: 300px;
  
    margin: auto;
  }
  
  .menuTable {
    background: url(../img/menu1.jpg);
    background-size: cover;
  
    width: 100%;
    height: 100vh;
  }
  
  
  .menuBack {
    background: url(../img/menu2.jpg);
    background-size: cover;
  
    width: 100%;
    height: 100vh;
  }
  
  
  .shiori {
    background: url(../img/shiori.jpg);
    background-size: cover;
  
    width: 100%;
    height: 100vh;
  }
  
  
  .wasi {
    background: url(../img/wasi.jpg);
    background-size: cover;
  
    width: 100%;
    height: 100vh;
  
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #000;
  }
  
  
  .wasi p {
    font-size: 10px;
    line-height: 2em;
  }

  .wasi h2 {
    font-size: 10px;
  }
  
  
  .wine p {
    line-height: 0.5em;
  }
  
  .ry {
    font-size: 2px;
  }




/*///////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
パソコン
/////////////////////////////////////////////////////////
///////////////////////////////////////////////////////*/

@media screen and (min-width: 481px) {

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}


body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:#fff;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}


body.fadeout::after {
  opacity: 1;
}
 

body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


.BackImg {
  background-repeat: no-repeat;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2000px;
  height: 1100px;
  filter: blur( 3px);
  background-size: cover;
  z-index: -1;
}



.FrontImg {
  background-color: #000;
  position: relative;

  width: 100%;
  height: 100vh;
  z-index: 1;
}


.FrontLogo {
  background: url(../img/logo.jpg);
  background-size: cover;
  position: absolute;

  border: 10px solid #ffffff;
  box-sizing: border-box;
  width: 225px;
  height: 225px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}


#MainContents {
  background: rgba( 0, 0, 0, 0.5);
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 1200px;
  height: 100%;
  margin: 0 auto;
}


header {
  position: relative;

  width: 1200px;
  height: 120px;
}


header .logo {
  background: url(../img/logo.jpg);
  background-size: cover;

  border: 5px solid #ffffff;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
}


header .navi {
  position: absolute;
  top: 0;
  left: 120px;
  width: 1080px;
  height: 120px;
}


ul {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
}


li {
  display: table-cell;
  width: 250px;
  height: 100px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}


.navi li :hover {
  color: #aaa;
  transition: all 0.2s ease-in-out;
}


a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
}


.shop,
.menu,
.home {
  width: 1200px;
  height: 730px;
}

.home1 {
  text-align: start;
  width:  600px;
  height: 710px;
  padding: 10px;

  font-size: 20px;
  line-height: 2em;
  margin: auto;
}


.midasi,
.title {
  display: table-cell;
  vertical-align: middle;
  width: 1200px;
  height: 70px;
}

.shop1 {
  display: flex;

  width: 1200px;
  height: 550px;
}


.shop1-1 {
  width: 860px;
  height: 550px;
}


.shop1-1-1 {
  position: relative;

  width: 860px;
  height: 550px;
}


.shopImg,
.shopAPI {
  position: absolute;
  border: 5px solid #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 750px;
  height: 510px;
  margin: auto;
}


.shop2 {
  width:  340px;
  height: 550px;
}


#infor {
  width:  300px;
  height: 510px;
  padding: 20px;
  margin: auto;

  font-size: 18px;
  text-align: start;
}


.shop3 {
  width: 1200px;
  height: 90px;
}

.change {
  width: 860px;
  height: 80px;
}

.change li {
  display: inline-block;
}

.shop3-1 {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  height: 60px;
  width: 230px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.shop3-1 p {
  font-size: 20px;
  line-height: 35px;
  margin: 0;
}


.shop3-1:hover {
  background: #fff;
  color: #000;
}


.menu1 {
  display: flex;

  width: 1200px;
  height: 640px;
}


.menu1-1 {
  width: 1100px;
  height: 400px;

  margin: auto;
}

.menuTable {
  background: url(../img/menu1.jpg);
  background-size: cover;

  width: 100%;
  height: 100vh;
}


.menuBack {
  background: url(../img/menu2.jpg);
  background-size: cover;

  width: 100%;
  height: 100vh;
}


.shiori {
  background: url(../img/shiori.jpg);
  background-size: cover;

  width: 100%;
  height: 100vh;
}


.wasi {
  background: url(../img/wasi.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #000;
}


.wasi p {
  font-size: 16px;
  line-height: 3em;
}

.wasi h2 {
  font-size: 20px;
  line-height: 3em;
}


.wine p {
  line-height: 2em;
}

.ry {
  font-size: 14px;
  line-height: 0.5em;
}
}